*{
  margin: 0;
  padding: 0;
}
:root{
  --bglight:#F5F5F5;
  --bgwhite:#FFFFFF;
  --textlight:#8D8D8D;
  --textdark:#101010;
  --border:#F3F3F3;
}


@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.otf) format('truetype');
}